html,body{
  position: relative;
    margin:0px;
    padding:0px;
    background: url("images/coffee2.jpg") no-repeat right center fixed;
    background-size:cover;
    height: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .hd{
    padding: 10px;
   padding-right: 10%;
   margin: 1%; 
   background-color: white;
   text-align:right;
   border-top-left-radius: 35px ;
   border-top-right-radius: 35px ;
   border-bottom-left-radius: 35px ;
   border-bottom-right-radius: 35px;
   
}
  form{
    width: 470px;
    font-size: 18px;
    color: white;
  }
  .container{
    padding-top: 15px;
  }

   input[type=text],input[type=password]{
    width: 40%;
    color: rgb(255, 255, 255);
    padding: 8px 0 5px 0;
    margin-bottom:3px;
    display: inline-block;
    border: none;
    border-bottom: solid 2px honeydew;
    margin-left: 16px;
    background:transparent;
    
    
  }
 
  
.container label{
  padding-left: 16px;
  position: relative;
  color: white;
  top: -30px;
  left: 0px;
  font-size: 18px; 
  pointer-events: none;
  transition: 0.5s;
  
}
  input:focus,input:valid{
    box-shadow: none;
    outline: none;
    border-bottom: 3px solid green;
    background-position: 0px;
    
  }
  input :focus~label, input:valid~label{
    top: -50px;
    font-size: 12px;
  }
 
  .rem{
    margin-top: -20px;
    margin-left: 16px;
  }
  button{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    background-color: rgb(13, 148, 13);
    color: white;

    padding: 8px 12px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: auto;
  }
  button:hover{
    opacity: 0.7;
    transform: translateY(-4px);
  }
  .signup{
    margin-top: 8px;
    width: auto;
    padding: 10px 10px;
    margin-left: 16px;
    background-color: rgb(185, 24, 24) ;
  }
  .image{
    text-align: left;
    margin: 10px 0;
  }
  img.logo{
    
    text-align: left;
    height: 50px;
    width: 70px;
  }

  .containerr{
    height: 55px;
  }
  span.psd{
    float: right;
    padding-top: 10px;
    padding-right: 50px;
  }
.bg{

  width: 470px;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 15%;
  background-image: cover;
  background-color: rgba(0, 0, 0, 0.603);
  }

   